name: bot

on:
  workflow_dispatch:
  schedule:
    - cron: "0 23 * * 1,3" # every  mon and wed at 11 PM UTC

jobs:
  post:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: npm ci
      - run: node .
        env:
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN}}